node_modules/
package-lock.json
# /package.json
.env
.temp/
.libs/

**/src/
**/.temp/
**/source/
**/info.json

check_src.ps1
check_result.txt
libs.md
todo-libs.md

# Aily Elements 本地编辑数据与历史版本
.elements/

# macOS
.DS_Store
